<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

  <display-name>Testruts for dev</display-name>
  <description>Testruts for dev 2014/05/13</description>

  <context-param>
   <description>properties</description>
   <param-name>properties</param-name>
   <param-value>/WEB-INF/testruts.properties</param-value>
  </context-param>

<!-- 
  <filter>
    <filter-name>S2020Filter</filter-name>
    <filter-class>jp.co.ksi.eip.commons.servlet.S2020Filter</filter-class>
  </filter>
 -->
  <filter>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>jp.co.ksi.eip.commons.servlet.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>SetCharacterEncodingSJIS</filter-name>
    <filter-class>jp.co.ksi.eip.commons.servlet.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>Shift_JIS</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>RemoteUser</filter-name>
    <filter-class>jp.co.ksi.eip.commons.servlet.BasicRemoteUserFilter</filter-class>
  </filter>
  <filter>
    <description>facebook oauth Test</description>
    <filter-name>AuthCheckFilter</filter-name>
    <filter-class>jp.co.ksi.eip.commons.servlet.AuthCheckFilter</filter-class>
    <init-param>
      <param-name>loginURL</param-name>
      <param-value>/facebook/login</param-value>
    </init-param>
    <init-param>
      <param-name>exclude</param-name>
      <param-value>.*\.css|.*\.jpg|.*\.gif|.*\.png</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>Semaphore</filter-name>
    <filter-class>jp.co.ksi.incubator.SemaphoreFilter</filter-class>
    <init-param>
      <param-name>max</param-name>
      <param-value>5</param-value>
    </init-param>
  </filter>
<!--
  <filter>
   <filter-name>KacFilter</filter-name>
   <filter-class>JP.co.ksi.eip.filter.KacFilter</filter-class>
   <init-param>
    <param-name>authorization</param-name>
    <param-value>Basic aG9nZTpob2dlMDE=</param-value>
   </init-param>
  </filter>
 -->

<!-- 
  <filter-mapping>
    <filter-name>S2020Filter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
 -->
  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SetCharacterEncodingSJIS</filter-name>
    <url-pattern>/mobile/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RemoteUser</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthCheckFilter</filter-name>
    <url-pattern>/facebook/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Semaphore</filter-name>
    <url-pattern>/sleep.jsp</url-pattern>
  </filter-mapping>

  <!-- Listener configuration -->
  <listener>
   <description>Context Initializer</description>
   <listener-class>jp.co.ksi.eip.commons.servlet.InitContextListener</listener-class>
  </listener>
<!--
  <listener>
   <listener-class>jp.co.ksi.eip.commons.servlet.SessionListener</listener-class>
  </listener>
 -->

  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml, /WEB-INF/struts-config-oauth.xml, /WEB-INF/struts-config-oauth2.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/sub</param-name>
      <param-value>/WEB-INF/struts-config-sub.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <display-name>SQLServlet</display-name>
    <servlet-name>SQLServlet</servlet-name>
    <servlet-class>jp.co.ksi.eip.commons.servlet.JndiSqlServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>DownloadTestServlet</display-name>
    <servlet-name>DownloadTestServlet</servlet-name>
    <servlet-class>jp.co.ksi.testruts.servlet.DownloadTestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MiniProxyServlet</servlet-name>
    <servlet-class>jp.co.ksi.eip.commons.servlet.MiniProxyServlet</servlet-class>
    <init-param>
      <param-name>proxyHost</param-name>
      <param-value>172.16.10.3</param-value>
    </init-param>
    <init-param>
      <param-name>proxyPort</param-name>
      <param-value>3128</param-value>
    </init-param>
  </servlet>
  <servlet>
    <display-name>CronServlet</display-name>
    <servlet-name>CronServlet</servlet-name>
    <servlet-class>jp.co.ksi.eip.commons.cron.CronServlet</servlet-class>
    <init-param>
      <param-name>appConfig</param-name>
      <param-value>/WEB-INF/testruts.properties</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>http://localhost/testruts/CronServlet</param-value>
    </init-param>
    <init-param>
      <param-name>start</param-name>
      <param-value>true</param-value>
    </init-param>
<!--
    <load-on-startup>9</load-on-startup>
 -->
  </servlet>
  <servlet>
    <display-name>JCSAdminServlet</display-name>
    <servlet-name>JCSAdminServlet</servlet-name>
    <servlet-class>org.apache.jcs.admin.servlet.JCSAdminServlet</servlet-class>
<!-- 
    <init-param>
      <param-name>properties</param-name>
      <param-value>WEB-INF/conf/JCSAdminServlet.velocity.properties</param-value>
    </init-param>
 -->
  </servlet>
  <servlet>
    <servlet-name>X_MS_Application</servlet-name>
    <servlet-class>jp.co.ksi.testruts.servlet.X_MS_ApplicationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>jp.co.ksi.testruts.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FacebookLoginServlet</servlet-name>
    <servlet-class>jp.co.ksi.incubator.oauth2.FacebookLoginServlet</servlet-class>
    <init-param>
      <param-name>oauthConfig</param-name>
      <param-value>/WEB-INF/facebook.properties</param-value>
    </init-param>
    <init-param>
      <param-name>loginPage</param-name>
      <param-value>/facebook/login.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>startPage</param-name>
      <param-value>/facebook/</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>WSOLoginServlet</servlet-name>
    <servlet-class>jp.co.ksi.incubator.wso.WSOLoginServlet</servlet-class>
  </servlet>
  
  <!-- Standard Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SQLServlet</servlet-name>
    <url-pattern>/SQLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadTestServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MiniProxyServlet</servlet-name>
    <url-pattern>/proxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CronServlet</servlet-name>
    <url-pattern>/CronServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JCSAdminServlet</servlet-name>
    <url-pattern>/jcs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>X_MS_Application</servlet-name>
    <url-pattern>/clickonce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacebookLoginServlet</servlet-name>
    <url-pattern>/facebook/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WSOLoginServlet</servlet-name>
    <url-pattern>/wsoLogin</url-pattern>
  </servlet-mapping>

  <session-config>
   <session-timeout>10</session-timeout>
  </session-config>

  <!-- The Usual Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

 <security-constraint>
  <web-resource-collection>
   <web-resource-name>realm</web-resource-name>
   <url-pattern>/digest.jsp</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>manager</role-name>
  </auth-constraint>
 </security-constraint>

 <login-config>
  <auth-method>DIGEST</auth-method>
  <realm-name>hoge</realm-name>
 </login-config>

 <security-role>
  <role-name>manager</role-name>
 </security-role>

 <jsp-config>
  <taglib>
    <taglib-uri>ksi.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/ksi.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>eip.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/eip.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>struts-nested.tld</taglib-uri>
    <taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
  </taglib>
 </jsp-config>

<!--
  <resource-ref>
    <res-ref-name>jdbc/dalmore.sample</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <res-ref-name>jdbc/devdb02.KAPSDEV</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
 -->

</web-app>
